.editorContainer {
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   margin: 0 auto;
   margin-top: 300px;
   height: 2000px;
   width: 75%;
   border: 1px solid grey;
}

.row {
  margin: 10px;
}

.titleRow{
 width: 80%;
 height: 25px;
 transform: translate(10%, 0);
}

.locationRow{
  width: 80%;
  height: 25px;
  transform: translate(10%, 0);
}

.calendarContainer{
  display: flex;
  justify-content: space-around;
}

.dateAndTimeRow{
    height: 25px;

}

.timeInputStart {
    margin: 0 auto;
    margin-left: 35%;
    width: 10%;
    text-align: center;
}

.imageUploadContainer{
    transform: translate(38%, 0);
}

.eventImage {
    width: 30%;
    height: 30%;
    border-radius: 14px;
    margin-top: 25px;
}

.submitButton {
    width: 15% !important;
    height: 30px !important;
    margin-bottom: 80px;
    transform: translate(285%, 0); 
}

.timeInputEnd {
    margin: 0 auto;
    width: 10%;
    margin-right: 35%;
    text-align: center;
}

.timeContainer {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
}
.dateAndTimeRow{

}

.dateAndTimeRow {

}

.addFriend {
  margin-right: 3%;
}

.deleteFriend {
  margin-left: 3%; 
}

.dayInput {
    margin: 0 auto;
    width:  12%;
    text-align: center;
    transform: translate(350%, 0);
}

.imageRow{
  height: 300px;
  width: 70%;
  margin: 0 auto;
  transform: translate(20%, 0);

}

.addDeleteFriend{
   transform: translate(35%, 0);
}

.descriptionRow{
  width: 70%;
  margin: 0 auto;
  transform: translate(5%, 0);
}

.dayTime{
  width: 50%;
  height: 20px;
  transform: translate(75%, 0);
}

.friendContainer {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
}
  
.friendsRow {
    height: 25px;
}

.addItemRow {
    width: 80%;
    height: 25px;
    transform: translate(10%, 0);
    z-index: 3;
}


.eventEntry {
   display: flex;
   flex-direction: column;
   width: 40%;
   margin: 50px;
}

.dateTitleRow {
  display: flex;
  justify-content: space-around;
}

.startEndTime {
  display: flex;
  justify-content: space-around;
}

.dateEntry {
  margin:5px;
}

.titleEntry {
  margin:20px;
}

.entryImage {
  transform: translate(38%, 0);
  margin:20px;
}

.locationEntry {
  transform: translate(42%, 0);
  margin:10px;
}

.eventListContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 250px;
}

.eventReadContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 250px;
  margin-bottom: 250px;
  
}

.singleDateTitle {
  display: flex;
  align-items: baseline;
}

.singleDate {
  margin: 30px;
}

.singleTitle {
  margin: 30px;
}

.singleDescription {
  margin: 30px;
}

.singleImage {
  margin: 30px;
}

.singleStartEnd {
   display: flex;
}

.singleStart {
   margin: 30px;
}

.singleEnd {
  margin: 30px;
}

.readEditEntry {
  display:  flex;
  transform: translate(28%, 0);

}

.readEntry {
  margin: 20px;
}

.editEntry {
  margin: 20px;
}





